tbody > tr > td.vuetable-checkboxes:has(input[type=checkbox]:checked)::before {
    content: "";
    position: absolute;
    left: 1.25rem;
    /*top: .25rem;*/
    min-width: 1rem;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #909090;
    border-radius: .25rem;
    background-color: #67c23a;
}

tbody > tr > td.vuetable-checkboxes:has(input[type=checkbox]) {
    background-color: red;
}