
#u5919 {
  position:absolute;
  left:150px;
  top:526px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5921 {
  position:absolute;
  left:250px;
  top:526px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5923 {
  position:absolute;
  left:350px;
  top:526px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5924 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5925 {
  position:absolute;
  left:0px;
  top:566px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5926 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5927 {
  position:absolute;
  left:50px;
  top:566px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5928 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5929 {
  position:absolute;
  left:150px;
  top:566px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5931 {
  position:absolute;
  left:250px;
  top:566px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5932 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5933 {
  position:absolute;
  left:350px;
  top:566px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5934 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5935 {
  position:absolute;
  left:0px;
  top:606px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5936 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5937 {
  position:absolute;
  left:50px;
  top:606px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5938 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5939 {
  position:absolute;
  left:150px;
  top:606px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5940 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5941 {
  position:absolute;
  left:250px;
  top:606px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5942 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5943 {
  position:absolute;
  left:350px;
  top:606px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5945 {
  position:absolute;
  left:0px;
  top:646px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5946 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5947 {
  position:absolute;
  left:50px;
  top:646px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5949 {
  position:absolute;
  left:150px;
  top:646px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5951 {
  position:absolute;
  left:250px;
  top:646px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5953 {
  position:absolute;
  left:350px;
  top:646px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5954 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5955 {
  position:absolute;
  left:0px;
  top:686px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5957 {
  position:absolute;
  left:50px;
  top:686px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5959 {
  position:absolute;
  left:150px;
  top:686px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5961 {
  position:absolute;
  left:250px;
  top:686px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5963 {
  position:absolute;
  left:350px;
  top:686px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5965 {
  position:absolute;
  left:0px;
  top:726px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5966 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5967 {
  position:absolute;
  left:50px;
  top:726px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5969 {
  position:absolute;
  left:150px;
  top:726px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5971 {
  position:absolute;
  left:250px;
  top:726px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5973 {
  position:absolute;
  left:350px;
  top:726px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u5975 {
  position:absolute;
  left:0px;
  top:766px;
  width:50px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5976 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5977 {
  position:absolute;
  left:50px;
  top:766px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5978 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5979 {
  position:absolute;
  left:150px;
  top:766px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u5981 {
  position:absolute;
  left:250px;
  top:766px;
  width:100px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u5983 {
  position:absolute;
  left:350px;
  top:766px;
  width:200px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:16px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
}
#u5985 {
  position:absolute;
  left:79px;
  top:286px;
  width:333px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#CC0000;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u5987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5987 {
  position:absolute;
  left:192px;
  top:48px;
  width:24px;
  height:26px;
}
#u5988 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5989 {
  position:absolute;
  left:192px;
  top:127px;
  width:24px;
  height:26px;
}
#u5990 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u5991 {
  position:absolute;
  left:192px;
  top:88px;
  width:24px;
  height:26px;
}
#u5992 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  position:absolute;
  left:0px;
  top:40px;
  width:550px;
  height:40px;
}
#u5994_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994.mouseOver {
}
#u5994_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994.selected {
}
#u5995 {
  position:absolute;
  left:2px;
  top:12px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5996 {
  position:absolute;
  left:0px;
  top:120px;
  width:550px;
  height:40px;
}
#u5996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5996.mouseOver {
}
#u5996_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5996.selected {
}
#u5997 {
  position:absolute;
  left:2px;
  top:12px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998 {
  position:absolute;
  left:0px;
  top:160px;
  width:550px;
  height:40px;
}
#u5998_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998.mouseOver {
}
#u5998_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5998.selected {
}
#u5999 {
  position:absolute;
  left:2px;
  top:12px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6000 {
  position:absolute;
  left:0px;
  top:80px;
  width:550px;
  height:40px;
}
#u6000_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6000.mouseOver {
}
#u6000_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 255, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6000.selected {
}
#u6001 {
  position:absolute;
  left:2px;
  top:12px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6002 {
  position:absolute;
  left:284px;
  top:48px;
  width:24px;
  height:24px;
}
#u6003 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6004 {
  position:absolute;
  left:284px;
  top:128px;
  width:24px;
  height:24px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6006 {
  position:absolute;
  left:284px;
  top:88px;
  width:24px;
  height:24px;
}
#u6007 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6008 {
  position:absolute;
  left:284px;
  top:170px;
  width:24px;
  height:24px;
}
#u6009 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:795px;
}
#u6010 {
  position:absolute;
  left:970px;
  top:0px;
  width:5px;
  height:790px;
}
#u6011 {
  position:absolute;
  left:2px;
  top:387px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012 {
  position:absolute;
  left:360px;
  top:730px;
  width:580px;
  height:40px;
  overflow:hidden;
}
#u6012_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6012_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u6014 {
  position:absolute;
  left:252px;
  top:10px;
  width:369px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
#u6016 {
  position:absolute;
  left:340px;
  top:6px;
  width:89px;
  height:26px;
}
#u6016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6016_input:disabled {
  color:grayText;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
}
#u6017 {
  position:absolute;
  left:52px;
  top:10px;
  width:119px;
  height:24px;
  font-family:'微软雅黑';
  font-style:normal;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u6019 {
  position:absolute;
  left:173px;
  top:9px;
  width:27px;
  height:26px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u6021 {
  position:absolute;
  left:18px;
  top:6px;
  width:32px;
  height:32px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6023 {
  position:absolute;
  left:0px;
  top:12px;
  width:20px;
  height:20px;
}
#u6024 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6025 {
  position:absolute;
  left:200px;
  top:12px;
  width:20px;
  height:20px;
}
#u6026 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6027 {
  position:absolute;
  left:432px;
  top:30px;
  width:140px;
  height:38px;
}
#u6027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6027_input:disabled {
  color:grayText;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:16px;
}
#u6028 {
  position:absolute;
  left:352px;
  top:30px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:405;
  font-style:normal;
  font-size:16px;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009999;
}
#u6030 {
  position:absolute;
  left:20px;
  top:10px;
  width:202px;
  height:22px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009999;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u6032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6032 {
  position:absolute;
  left:40px;
  top:60px;
  width:81px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6032_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6032.selected {
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6034_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:6px;
}
#u6034 {
  position:absolute;
  left:10px;
  top:100px;
  width:140px;
  height:3px;
}
#u6034_img.selected {
}
#u6034.selected {
}
#u6035 {
  position:absolute;
  left:2px;
  top:-6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6036 {
  position:absolute;
  left:150px;
  top:60px;
  width:141px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6036_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u6036.selected {
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6038_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:6px;
}
#u6038 {
  position:absolute;
  left:150px;
  top:100px;
  width:140px;
  height:3px;
}
#u6038_img.selected {
}
#u6038.selected {
}
#u6039 {
  position:absolute;
  left:2px;
  top:-6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
}
#u6040 {
  position:absolute;
  left:320px;
  top:60px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
}
#u6040_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:20px;
}
#u6040.selected {
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6042_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:6px;
}
#u6042 {
  position:absolute;
  left:290px;
  top:100px;
  width:140px;
  height:3px;
}
#u6042_img.selected {
}
#u6042.selected {
}
#u6043 {
  position:absolute;
  left:2px;
  top:-6px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044 {
  position:absolute;
  left:50px;
  top:50px;
  width:1920px;
  height:1000px;
  overflow:hidden;
  visibility:hidden;
}
#u6044_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047 {
  position:absolute;
  left:760px;
  top:380px;
}
#u6047_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6047_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:75px;
}
#u6048 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6049 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6050 {
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:180px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6052 {
  position:absolute;
  left:137px;
  top:110px;
  width:127px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6055 {
  position:absolute;
  left:45px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6056 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 216, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6057 {
  position:absolute;
  left:235px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6058 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6047_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6047_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:75px;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6060 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u6061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6061 {
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:180px;
}
#u6062 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6063 {
  position:absolute;
  left:137px;
  top:110px;
  width:127px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6064 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6065 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6066 {
  position:absolute;
  left:45px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6067 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 216, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6068 {
  position:absolute;
  left:235px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6069 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6047_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6047_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:75px;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6071 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u6072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6072 {
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:180px;
}
#u6073 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6074 {
  position:absolute;
  left:137px;
  top:110px;
  width:127px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6075 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6077 {
  position:absolute;
  left:45px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6078 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 216, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6079 {
  position:absolute;
  left:235px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6080 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6047_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6047_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:75px;
}
#u6081 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:left;
}
#u6082 {
  position:absolute;
  left:2px;
  top:19px;
  width:396px;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u6083 {
  position:absolute;
  left:0px;
  top:60px;
  width:400px;
  height:180px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:82px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6085 {
  position:absolute;
  left:146px;
  top:75px;
  width:109px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6086 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6088 {
  position:absolute;
  left:45px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(216, 216, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6090 {
  position:absolute;
  left:235px;
  top:170px;
  width:120px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:401;
  font-style:normal;
  font-size:18px;
  color:#3838A7;
}
#u6091 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u6092 {
  position:absolute;
  left:50px;
  top:110px;
  width:300px;
  height:30px;
}
#u6092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
