@media screen and (max-width: 1366px){
  html,html body {
    font-size: 11px;
    .vuetable  {
      thead tr td {
        padding: 0.5rem 0!important;
      }
      tbody tr td {
        padding: 0.4rem 0!important;
      }
    }
  }


}
@media screen and (min-width: 1367px) and (max-width: 1440px){
  html {
    font-size: 14px;
    .vuetable  {
      thead tr td {
        padding: 0.6rem 0!important;
      }
      tbody tr td {
        padding: 0.5rem 0!important;
      }
    }
  }
}
@media screen and (min-width: 1441px) and (max-width: 1680px){
  html {
    font-size: 15px;
  }
}
@media screen and(min-width: 1681px){
  html {
    font-size: 16px;
  }
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

html, html body {
  font-family: "Microsoft YaHei" !important;
  background: #eaeaea;
}
$nav-height:5rem;
//left side menu
$menu-color-1: #042340;
$menu-color-2: #136076;
$menu-color-3: #0e6781;
$menu-color-4: #1c94b7;
$menu-color-5: #48b4ff;
$menu-color-6: #000e19;
$menu-color-7: #042340;
$menu-main-color-1: #104975;
$menu-main-color-2: #307fcf;

$bread-height: 4.375rem;
$side-bar-width: 4.375rem;
$tab-padding-1: 0.9375rem;
$tab-padding-2: 0.9375rem;
$page-padding-horizontal: 1.25rem;
$page-padding-vertical: 1.25rem;
$tab-nav-item-height: 2.1875rem;
.notification-container {
  width: 100%;
  &>.notification-wrapper {
    display: flex;
    justify-content: center;
    &>div {
      transition: opacity 500ms ease-in-out;
      min-width: 320px;
    }
  }
}
//breadcrumb style point
main {
  margin: $nav-height + $bread-height + $page-padding-vertical $page-padding-horizontal 0 $side-bar-width+$page-padding-horizontal !important;
  .row {
    margin: 0 -0.9375rem 0 -0.9375rem;
    &>[class^='col-'],&>.col {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  div.loading {
    &:after {
      position: absolute;
      width: 100vh;
      height: 100vh;
      background: red;
    }

  }
  div.container-fluid {
    .breadcrumb-container {
      position: fixed;
      background: white;
      height: $bread-height;
      left: $bread-height;
      top: $nav-height;
      width: 100%;
      z-index: 10;
      div.row {
        height: 100%;
        div.col-12 {
          display: flex;
          align-items: center;
          ol.breadcrumb {
            margin: 0;
            font-size: 1.17rem;
            li a, li span {
              color: $info-color !important;
            }
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: "/";
        color: $info-color !important;
      }
    }
    .breadcrumb-container {
      position: fixed;
      background: white;
      height: $bread-height;
      left: $bread-height;
      top: $nav-height;
      width: 100%;
      z-index: 10;
      div.row {
        height: 100%;
        div.col-12 {
          display: flex;
          align-items: center;
          ol.breadcrumb {
            margin: 0;
            font-size: 1.1875rem;
            li a, li span {
              color: $info-color !important;
            }
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: "/";
        color: $info-color !important;
      }
    }
    div.main-without-tab {
      padding: $tab-padding-1 $tab-padding-2 $tab-padding-2 $tab-padding-2;
      min-height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical});
      max-height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical});
      height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical});
      overflow: auto;
      &.p-0 {
        padding: 0 !important;
      }
      & .card-body {
        padding: 0 !important;
        div.table-wrapper {
          position: absolute;
          width: calc(100% - 1.875rem);
          height: calc(100% - 3.25rem);
          overflow: auto;

        }
        div.pagination-wrapper {
          position: absolute;
          bottom: 0;
          padding-top: 0.625rem;
          width: calc(100% - 1.875rem);
          & > nav {
            width: 100%;
          }
        }
      }
      & > div.row {
        margin: 0;
      }

    }
    div.tabs:not(.sub-tabs) {
      & > div.tab-content {
        //margin-bottom: 1rem !important;
        padding: $tab-padding-1 0 $tab-padding-2 0;
        min-height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical + $tab-nav-item-height});
        max-height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical + $tab-nav-item-height});
        height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical + $tab-nav-item-height});
        border-top: 1px #eaeaea solid;
        & > div.tab-pane.active {
          height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical + $tab-nav-item-height + $tab-padding-1 + $tab-padding-2});
          overflow-y: auto;
          & > div.row {
            margin: 0;
          }
          div.table-wrapper {
            position: absolute;
            width: calc(100% - 1.875rem);
            height: calc(100% - 3.25rem);
            overflow: auto;

          }
          div.pagination-wrapper {
            position: absolute;
            bottom: 0;
            padding-top: 0.625rem;
            width: calc(100% - 1.875rem);
            & > nav {
              width: 100%;
            }
          }
        }
      }
    }
    div.tabs.sub-tabs {
      .nav-tabs.separator-tabs {
        border-bottom: 1px solid #d7d7d7;
        .nav-item {
          .nav-link {
            box-shadow: none !important;
            &.active {
              color: $info-color;
            }
          }

        }
      }
      .tab-content {
        box-shadow: none;
      }
    ;
    }
    div.card {
      border-radius: 0.25rem;
    }
    div.system-setting {
      .section.pt-0 {

        background-color: #f3f3f3;
        padding-bottom: 0px!important;

        .nav-tabs .nav-link {
          &.active {
            box-shadow: none!important;
            border-left: 1px #cccccc solid;
            border-right: 1px #cccccc solid;

            &::before {
              height: 0px;
            }
          }
          &:not(.active) {
            background-color: transparent!important;
          }
        }

        .card-header-tabs {
          margin-left: calc(-1.25rem - 1px);
        }

        .tab-content {
          box-shadow: none!important;
          border-top: 1px #cccccc solid;
          border-top-left-radius: 0px!important;
          border-top-right-radius: 0px!important;
          padding-top: 0px!important;
          height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical + 10rem});
          overflow: auto;

          .font-weight-bold {
            color: #acacac;
          }

        }
      }
    }
    .fill-main {
      height: calc(100vh - #{$nav-height + $bread-height + 2*$page-padding-vertical});

      .right-card {
        .card-body {
          display: flex;
          flex-direction: column;
        }
      }
    }

  }
}

.main-hidden .main-menu, .menu-hidden .main-menu {
  transform: unset !important;
}

@media (max-width: 1439px) {
  .sidebar {
    padding-top: $nav-height !important;
  }
}

.sidebar {
  .main-menu {
    padding-top: 0 !important;
    background-color: $menu-color-7;
    width: $side-bar-width;
    section {
      ul {
        li {
          background-color: $menu-color-7;
          border-bottom: solid 1px $menu-color-6;
          border-top: solid 1px $menu-main-color-1;
          color: $menu-main-color-2 !important;
          a {
            color: inherit !important;
            border-bottom: unset !important;
            height: 4.0625rem;
            i {
              font-size: 1.875rem;
              line-height: 2.375rem;
            }
          }
          &.active, &:hover, &:focus {
            background-color: $menu-color-4;
            border-bottom: solid 1px transparent !important;
            color: white !important;
            &:after {
              background: transparent !important;
            }
          }
        }
      }
    }
  }
  .sub-menu {
    height: auto !important;
    padding: 0 !important;
    left: $side-bar-width;
    section {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      ul {
        margin: 0 !important;
        height: 100%;
        li {
          margin-left: 0 !important;
          padding: 0 0.3125rem !important;
          background-color: $menu-color-4;
          border: 1px solid $menu-color-5;
          border-bottom-color: $menu-color-3;
          border-left-color: $menu-color-2;
          a {
            margin-bottom: 0 !important;
            line-height: 1.25rem;
          }
          &.active, &:hover, &:active {
            background-color: $menu-color-7;
            border: 1px solid $menu-color-6;
            border-right-color: transparent;
            border-bottom-color: transparent;
            color: $menu-color-5;
          }
        }
      }
    }
  }
}

body.rtl {
  .sidebar {
    .sub-menu {
      right: $side-bar-width;
      ul {
        li {
          margin-right: 0 !important;
          z-index: 99;
          border: 1px solid $menu-color-5;
          border-bottom-color: $menu-color-3;
          border-right-color: $menu-color-2;
          &.active, &:hover, &:active {
            background-color: $menu-color-7;
            border: 1px solid $menu-color-6;
            border-left-color: transparent;
            border-bottom-color: transparent;
            color: $menu-color-5;
          }
        }
      }
    }
  }
  main {
    margin: $nav-height + $bread-height +0.625rem $side-bar-width+1.25rem 0 1.25rem !important;
    div.container-fluid {
      .breadcrumb-container {
        position: fixed;
        background: white;
        height: $bread-height;
        right: $side-bar-width;
        top: $nav-height;
        width: 100%;
        z-index: 10;
        div.row {
          height: 100%;
          div.col-12 {
            display: flex;
            align-items: center;
            ol.breadcrumb {
              margin: 0;
              font-size: 19px;
              li a, li span {
                color: $info-color !important;
              }
            }
          }
        }
        .breadcrumb-item + .breadcrumb-item::before {
          content: "/";
          color: $info-color !important;
        }
      }
      div.card {
        border-radius: 0.25rem;
      }
      select {
        background-image: url("../../../img/bottom_arrow_black.svg") !important;
        background-position: 12px 1em,
        calc(100% - 20px) 1em, 100% 0 !important;
        background-size: 9px 9px, 5px 5px, 2.5em 2.5em !important;
      }

    }
  }
}

/**
filter option style modify
 */
.filter-wrapper {
  display: flex;
  justify-content: space-between;
  .filter-option {
    display: flex;
    flex-grow: 1;
    margin-right: 8.75rem;
    max-width: 68.75rem;
    div.row {
      flex-grow: 1;
      div.col{
        padding-right: 0;
        .form-control {
          max-width: unset;
        }
      }
    }
  }
  .filter-action {
    flex-grow: 0;
    &>div {
      margin-top: 0.375rem;
      button.btn-success {
        background-color: #66cd00;
        border-color: #66cd00;
        &:hover,&:active {
          background-color: darken(#66cd00,8%);
          border-color: darken(#66cd00,8%);
        }
      }
    }
  }
}

//vue table btn square style variables
$btn-square-length: 1.875rem;
$btn-square-padding: 0;
$btn-square-font-size: 1.0625rem;
$theme-color-purple-2: #881aff;
$btn-orange-color: #ff5e00;

.btn.default {
  border-radius: 0.3rem;
}

.form-group {
  .col-form-label {
    font-weight: bold;
  }
  .invalid-feedback {
    display: none!important;
  }
}

.form-control {
  border-radius: 0.3rem;
  padding: 0.5rem 0.4rem 0.55rem 0.5rem;
  max-width: 250px;
}

.form-section {
  padding: 1.875rem 1.25rem 1.25rem 5.625rem;
  height: 100%;
  .form-group {
    max-width: 15.625rem;
    margin-bottom: 1rem;
  }

}

.btn-success {
  background-color: $success-color;
}

.btn-danger {
  background-color: $error-color;
}

.btn-orange {
  background-color: $btn-orange-color;
  color: white;
}

.btn-info {
  background-color: $info-color;
  border-color: $info-color;
  &.disabled,&:disabled {
    background-color: lighten($info-color, 10%);
    border-color: lighten($info-color, 10%);
    cursor: not-allowed;
  }
  &.skyblue {
    background-color: #3182eb;
    border-color: #3182eb;
    &:hover {
      background-color: darken(#3182eb, 8%);
      border-color: darken(#3182eb, 8%);
    }
  }
  &:hover {
    background-color: darken($info-color, 8%);
    border-color: darken($info-color, 8%);
  }
}

.btn-outline-info {
  color: $info-color;
  border-color: $info-color;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $info-color;
    border-color: darken($info-color, 8%);
  }
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  background-color: $info-color;
  border-color: darken($info-color, 8%);
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: darken($info-color, 8%) !important;
  border-color: darken($info-color, 8%) !important;
}

.btn-primary {
  background-color: $info-color;
  border-color: $info-color;
  color: $button-text-color;

  &:hover, &:not(:disabled):active, &:focus {
    color: $button-text-color;
    background-color: darken($info-color, 8%) !important;
    border-color: darken($info-color, 8%) !important;
  }
}

.btn-purple {
  background-color: $theme-color-purple;
  color: $button-text-color;
  &:hover {
    color: $button-text-color;
    background-color: $theme-color-purple-2;
  }
}

.text-success {
  color: $success-color !important;
}

.text-danger {
  color: $error-color !important;
}

.text-warning {
  color: $warning-color !important;
}

.text-primary {
  color: $info-color !important;
}

.cursor-p {
  cursor: pointer !important;
}

@supports not (-ms-high-contrast: none) {
  select {
    background-image: url("../../../img/bottom_arrow_black.svg") !important;
    background-position: calc(100% - 12px) 1em,
    calc(100% - 20px) 1em,
    100% 0 !important;
    background-size: 9px 9px,
    5px 5px,
    2.5em 2.5em !important;
    background-repeat: no-repeat !important;
    border-color: grey;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    &.form-control:not([size]):not([multiple]) {
      height: calc(2.4rem + 0px);
    }
  }

}

.tab-content {
  div.section {
    border-radius: 0.3125rem;
    padding: 1.5rem 0 1rem 0;
    border: solid 1px #cccccc;
  }
}
$check-checked-color:#67c23a;
.vuetable {
  thead > tr > th[class*='vuetable-th-checkbox-'], tbody > tr > td.vuetable-checkboxes {
    position: relative;
    width: 3.75rem!important;
    input[type=checkbox] {
      width: 0;
      opacity: 0;
      cursor: pointer;
      & ~ label {
        display: inline;
      }
      & ~ label::before {
        content: "";
        position: absolute;
        left: 1.25rem;
        /*top: .25rem;*/
        min-width: 1.25rem;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid #909090;
        border-radius: .25rem;
      }
      &:checked, &:indeterminate {
        & ~ label::before {
          content: "";
          position: absolute;
          left: 1.25rem;
          /*top: .25rem;*/
          min-width: 1rem;
          width: 1.25rem;
          height: 1.25rem;
          border: 1px solid #909090;
          border-radius: .25rem;
          background-color: $check-checked-color;
        }
        & ~ label::after {
          content: "";
          position: absolute;
          left: 1.25rem;
          /*top: .25rem;*/
          min-width: 1rem;
          width: 1.25rem;
          height: 1.25rem;
          border: 1px solid $check-checked-color;
          border-radius: .25rem;
          background: no-repeat 50% / 50% 50%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }

      }

    }
  }
  thead {
    tr {
      background: #f1f1f1;
      th {
        padding: 0.7rem 0 !important;
        border: solid 1px #e7e7e7 !important;
        background-color: #f1f1f1 !important;
        /*position: sticky;
        top: -1px;*/
        /* z-index: 4;*/
        &.btn-actions {
          width: 14.375rem;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 0.56rem 0 !important;
        border: solid 1px #e7e7e7 !important;
        vertical-align: middle !important;
        &.btn-actions {
          padding: 0 1.25rem 0 1.25rem;
        }
        button.btn-square {
          width: $btn-square-length;
          height: $btn-square-length;
          padding: $btn-square-padding;
          font-size: $btn-square-font-size;
          line-height: $btn-square-length - 0.1875rem;
          border-radius: 4px !important;
          text-align: center;
          &:disabled {
            background-color: #cccccc;
            border-color: transparent;
          }
        }
        button.btn-square:not(:first-child) {
          margin-left: 1.25rem;
        }
      }
    }
  }
  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        td {
          background-color: #fafafa !important;
        }
      }
    }
  }
}

.pagination-sm {
  .page-item {
    .page-link {
      border: none;
      cursor: pointer;
      min-width: 5px;
      font-size: 0.875rem;
      &:hover {
        color: #1782d4;
      }
    }
    &.active {
      .page-link {
        color: #1782d4;
        border: none;
      }
    }

  }
}

.navbar .logout {
  width: $navbar-logout-width;
  height: $navbar-logout-width;
  cursor: pointer;
}
.navbar {
  .navbar-title {
    .logo {
      background-size: contain!important;
      background: url(/assets/img/top-title-admin.png) no-repeat;
    }
  }
}
.dashboard-container {
  position: absolute;
  top: $nav-height;
  left: $side-bar-width;
  right: 0px;
  bottom: 0px;
  padding: 1.25rem;

  .kcb-mt-20 {
    margin-top: 1.25rem;
  }

  .article {
    align-items: start;

    h5 {
      color: #1782d4;
    }

    h6 {
      color: #757575;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
  }

  .article-icon-container {
    padding:2.25rem;
    border-radius: 0.3125rem;
    background-color: #1782D4;

    img {
      width: 2.375rem;
      height: 2.375rem;
    }
  }
}
@import '~vue2-datepicker/scss/index.scss';
.mx-datepicker {
  .mx-input-wrapper {
    .mx-input {
      height: inherit;
      border-radius: 0.3rem;
      padding: 0.5rem 0.4rem 0.55rem 0.5rem;
      max-width: 250px;
      outline: initial !important;
      box-shadow: initial !important;
      font-size: 0.8rem;
      line-height: 1.5;
      border: 1px solid #d7d7d7;
      background: white;
      color: #212121;
    }
  }
}
.rtl {
  .mx-datepicker {
    .mx-input-wrapper {
      .mx-icon-calendar, .mx-icon-clear {
        right: unset;
        left: 8px;
      }
    }
  }
  .mx-time-content {
    .mx-time-column {
      .mx-scrollbar-wrap {
        margin-left: -17px!important;
        margin-right: 0!important;
        ul.mx-time-list {
          li {
            text-align: center;
          }
        }
      }
      .mx-scrollbar-track {
        right: unset;
        left: 2px;
      }
    }
  }

}

.org-tree {
  .org-tree-node:not(:first-child):before, .org-tree-node:not(:last-child):after {
    border-top-color: #7d7d7d;
  }
  .org-tree-node :after {
    border-color: #7d7d7d;
  }
  .org-tree-node-children:before {
    border-left-color: #7d7d7d;
  }
  .org-tree-node-label {
    .bg-level-1 {
      background-color: #2b3f70;
    }

    .bg-level-2 {
      background-color: #576872;
    }

    .bg-level-3 {
      background-color: #546094;
    }
    .bg-level-4 {
      background-color: #3d84a8;
    }
    .bg-level-5 {
      background-color: #2c9279;
    }

    .org-tree-node-label-inner {
      padding: 0!important;
      min-width: 120px;
      &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &>.org-content-top {
          padding: 5px;
          background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 100%);
          &>span {
            position: absolute;
            left: 10px;
            background: #f4ad3c;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            font-size: 12px;
            padding: 0;
            text-align: center;
            line-height: 16px;
          }
        }
        &>.org-content-bottom {
          background: white;
          padding: 5px;
          color: #676e6f;
        }
      }
    }
  }
}
