
html, html body {
  font-family: "Microsoft YaHei" !important;
  background: #eaeaea;
}

//left side menu
$menu-color-1: #042340;
$menu-color-2: #136076;
$menu-color-3: #0e6781;
$menu-color-4: #1c94b7;
$menu-color-5: #48b4ff;
$menu-color-6: #000e19;
$menu-color-7: #042340;
$menu-main-color-1: #104975;
$menu-main-color-2: #307fcf;

$bread-height: 70px;
$side-bar-width: 70px;
$tab-padding-1:15px;
$tab-padding-2:15px;
//breadcrumb style point
main {
  margin: $nav-height + $bread-height +10px 20px 0 $side-bar-width+20px !important;

  div.container-fluid {
    .breadcrumb-container {
      position: fixed;
      background: white;
      height: $bread-height;
      left: $bread-height;
      top: $nav-height;
      width: 100%;
      z-index: 10;
      div.row {
        height: 100%;
        div.col-12 {
          display: flex;
          align-items: center;
          ol.breadcrumb {
            margin: 0;
            font-size: 19px;
            li a, li span {
              color: $info-color !important;
            }
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: "/";
        color: $info-color !important;
      }
    }
    .breadcrumb-container {
      position: fixed;
      background: white;
      height: $bread-height;
      left: $bread-height;
      top: $nav-height;
      width: 100%;
      z-index: 10;
      div.row {
        height: 100%;
        div.col-12 {
          display: flex;
          align-items: center;
          ol.breadcrumb {
            margin: 0;
            font-size: 19px;
            li a, li span {
              color: $info-color !important;
            }
          }
        }
      }
      .breadcrumb-item + .breadcrumb-item::before {
        content: "/";
        color: $info-color !important;
      }
    }
    div.main-without-tab {
      margin-bottom: 1rem !important;
      padding: $tab-padding-1 $tab-padding-2 $tab-padding-2 $tab-padding-2;
      min-height: calc(100vh - #{$nav-height + $bread-height + 35px});
      max-height: calc(100vh - #{$nav-height + $bread-height + 35px});
      height: calc(100vh - #{$nav-height + $bread-height + 35px});
      overflow: auto;
      &.p-0 {
        padding: 0!important;
      }
      & .card-body {
        padding: 0!important;
        div.table-wrapper {
          position: absolute;
          width: calc(100% - 30px);
          height: calc(100% - 52px);
          overflow: auto;

        }
        div.pagination-wrapper {
          position: absolute;
          bottom: 0;
          padding-top: 10px;
          width: calc(100% - 30px);
          &>nav {
            width: 100%;
          }
        }
      }
      &>div.row {
        margin: 0;
      }

    }
    div.tabs:not(.sub-tabs){
      &>div.tab-content {
        margin-bottom: 1rem !important;
        padding: $tab-padding-1 0 $tab-padding-2 0;
        min-height: calc(100vh - #{$nav-height + $bread-height + 65px} );
        max-height: calc(100vh - #{$nav-height + $bread-height + 65px});
        height: calc(100vh - #{$nav-height + $bread-height + 65px});
        border-top: 1px #eaeaea solid;
        &>div.tab-pane.active {
          height: calc(100vh - #{$nav-height + $bread-height + 65px + $tab-padding-1 + $tab-padding-2} );
          overflow-y: auto;
          &>div.row {
            margin: 0;
          }
          div.table-wrapper {
            position: absolute;
            width: calc(100% - 30px);
            height: calc(100% - 52px);
            overflow: auto;

          }
          div.pagination-wrapper {
            position: absolute;
            bottom: 0;
            padding-top: 10px;
            width: calc(100% - 30px);
            &>nav {
              width: 100%;
            }
          }
        }
      }
    }
    div.tabs.sub-tabs {
      .nav-tabs.separator-tabs {
        border-bottom: 1px solid #d7d7d7;
        .nav-item {
          .nav-link {
            box-shadow: none!important;
            &.active {
              color: $info-color;
            }
          }

        }
      }
      .tab-content {
        box-shadow: none;
      }
    ;
    }
    div.card {
      border-radius: 4px;
    }

  }
}

.main-hidden .main-menu, .menu-hidden .main-menu {
  transform: unset !important;
}

@media (max-width: 1439px) {
  .sidebar {
    padding-top: $nav-height !important;
  }
}

.sidebar {
  .main-menu {
    padding-top: 0 !important;
    background-color: $menu-color-7;
    width: $side-bar-width;
    section {
      ul {
        li {
          background-color: $menu-color-7;
          border-bottom: solid 1px $menu-color-6;
          border-top: solid 1px $menu-main-color-1;
          color: $menu-main-color-2 !important;
          a {
            color: inherit !important;
            border-bottom: unset !important;
            height: 65px;
            i {
              font-size: 30px;
              line-height: 38px;
            }
          }
          &.active, &:hover, &:focus {
            background-color: $menu-color-4;
            border-bottom: solid 1px transparent !important;
            color: white !important;
            &:after {
              background: transparent !important;
            }
          }
        }
      }
    }
  }
  .sub-menu {
    height: auto !important;
    padding: 0 !important;
    left: $side-bar-width;
    section {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      ul {
        margin: 0 !important;
        height: 100%;
        li {
          margin-left: 0 !important;
          padding: 0 5px !important;
          background-color: $menu-color-4;
          border: 1px solid $menu-color-5;
          border-bottom-color: $menu-color-3;
          border-left-color: $menu-color-2;
          a {
            margin-bottom: 0 !important;
            line-height: 20px;
          }
          &.active, &:hover, &:active {
            background-color: $menu-color-7;
            border: 1px solid $menu-color-6;
            border-right-color: transparent;
            border-bottom-color: transparent;
            color: $menu-color-5;
          }
        }
      }
    }
  }
}

body.rtl {
  .sidebar {
    .sub-menu {
      right: $side-bar-width;
      ul {
        li {
          margin-right: 0 !important;
          border: 1px solid $menu-color-5;
          border-bottom-color: $menu-color-3;
          border-right-color: $menu-color-2;
          &.active, &:hover, &:active {
            background-color: $menu-color-7;
            border: 1px solid $menu-color-6;
            border-left-color: transparent;
            border-bottom-color: transparent;
            color: $menu-color-5;
          }
        }
      }
    }
  }
  main {
    margin: $nav-height + $bread-height +10px , $side-bar-width+20px 0 20px!important;
    div.container-fluid {
      .breadcrumb-container {
        position: fixed;
        background: white;
        height: $bread-height;
        right: $side-bar-width;
        top: $nav-height;
        width: 100%;
        z-index: 10;
        div.row {
          height: 100%;
          div.col-12 {
            display: flex;
            align-items: center;
            ol.breadcrumb {
              margin: 0;
              font-size: 19px;
              li a, li span {
                color: $info-color !important;
              }
            }
          }
        }
        .breadcrumb-item + .breadcrumb-item::before {
          content: "/";
          color: $info-color !important;
        }
      }
      div.card {
        border-radius: 4px;
      }
      select {
        background-image: url("../../../img/bottom_arrow_black.svg") !important;
        background-position: 12px 1em,
        calc(100% - 20px) 1em, 100% 0 !important;
        background-size: 9px 9px, 5px 5px, 2.5em 2.5em !important;
      }

    }
  }
}

//vue table btn square style variables
$btn-square-length: 30px;
$btn-square-padding: 0;
$btn-square-font-size: 17px;
$theme-color-purple-2: #881aff;
$btn-orange-color: #ff5e00;

.btn.default {
  border-radius: 0.3rem;
}

.form-group {
  .col-form-label {
    font-weight: bold;
  }
}

.form-control {
  border-radius: 0.3rem;
  padding: 0.5rem 0.4rem 0.55rem 0.5rem;
  max-width: 250px;
}

.form-section {
  padding: 30px 20px 20px 90px;
  height: 100%;
  .form-group {
    max-width: 250px;
    margin-bottom: 1rem;
  }

}

.btn-success {
  background-color: $success-color;
}

.btn-danger {
  background-color: $error-color;
}

.btn-orange {
  background-color: $btn-orange-color;
  color: white;
}

.btn-info {
  background-color: $info-color;
  border-color: $info-color;
  &.skyblue {
    background-color: #3182eb;
    border-color: #3182eb;
    &:hover {
      background-color: darken(#3182eb, 8%);
      border-color: darken(#3182eb, 8%);
    }
  }
  &:hover {
    background-color: darken($info-color, 8%);
    border-color: darken($info-color, 8%);
  }
}

.btn-outline-info {
  color: $info-color;
  border-color: $info-color;
  &:hover, &:active, &:focus {
    color: white;
    background-color: $info-color;
    border-color: darken($info-color, 8%);
  }
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
  background-color: $info-color;
  border-color: darken($info-color, 8%);
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
  background-color: darken($info-color, 8%) !important;
  border-color: darken($info-color, 8%) !important;
}

.btn-primary {
  background-color: $info-color;
  border-color: $info-color;
  color: $button-text-color;

  &:hover, &:not(:disabled):active, &:focus {
    color: $button-text-color;
    background-color: darken($info-color, 8%) !important;
    border-color: darken($info-color, 8%) !important;
  }
}

.btn-purple {
  background-color: $theme-color-purple;
  color: $button-text-color;
  &:hover {
    color: $button-text-color;
    background-color: $theme-color-purple-2;
  }
}

.text-success {
  color: $success-color !important;
}

.text-danger {
  color: $error-color !important;
}

.text-warning {
  color: $warning-color !important;
}

.text-primary {
  color: $info-color !important;
}

.cursor-p {
  cursor: pointer !important;
}

@supports not (-ms-high-contrast: none) {
  select {
    background-image: url("../../../img/bottom_arrow_black.svg") !important;
    background-position: calc(100% - 12px) 1em,
    calc(100% - 20px) 1em,
    100% 0 !important;
    background-size: 9px 9px,
    5px 5px,
    2.5em 2.5em !important;
    background-repeat: no-repeat !important;
    border-color: grey;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    &.form-control:not([size]):not([multiple]) {
      height: calc(2.4rem + 0px);
    }
  }

}

.tab-content {
  div.section {
    border-radius: 5px;
    padding: 1.5rem 0 1rem 0;
    border: solid 1px #cccccc;
  }
}

.vuetable {
  thead>tr>th[class*='vuetable-th-checkbox-'],tbody>tr>td.vuetable-checkboxes {
    position: relative;
    width: 2rem;
    input[type=checkbox]{
      width: 0;
      &::before{
        content: "";
        position: absolute;
        left: .5rem;
        /*top: .25rem;*/
        min-width: 1rem;
        width: 1rem;
        height: 1rem;
        border: 1px solid #909090;
        border-radius: .25rem;
      }
      &:checked,&:indeterminate {
        &::before {
          content: "";
          position: absolute;
          left: .5rem;
          /*top: .25rem;*/
          min-width: 1rem;
          width: 1rem;
          height: 1rem;
          border: 1px solid #909090;
          border-radius: .25rem;
          background-color: $success-color;
        }
        &::after {
          content: "";
          position: absolute;
          left: .5rem;
          /*top: .25rem;*/
          min-width: 1rem;
          width: 1rem;
          height: 1rem;
          border: 1px solid $success-color;
          border-radius: .25rem;
          background: no-repeat 50% / 50% 50%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23FFFFFF' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }

      }

    }
  }
  thead {
    tr {
      background: #f1f1f1;
      th {
        padding: 14px 0 !important;
        border: solid 1px #e7e7e7 !important;
        background-color: #f1f1f1!important;
        /*position: sticky;
        top: -1px;*/
       /* z-index: 4;*/
        &.btn-actions {
          width: 230px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 10px 0 !important;
        border: solid 1px #e7e7e7 !important;
        vertical-align: middle !important;
        &.btn-actions {
          width: 230px;
        }
        button.btn-square {
          width: $btn-square-length;
          height: $btn-square-length;
          padding: $btn-square-padding;
          font-size: $btn-square-font-size;
          line-height: $btn-square-length - 3px;
          border-radius: 4px !important;
          text-align: center;
          &:disabled {
            background-color: #cccccc;
            border-color: transparent;
          }
        }
        button.btn-square:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }
  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        td {
          background-color: #fafafa !important;
        }
      }
    }
  }
}

.pagination-sm {
  .page-item {
    .page-link {
      border: none;
      cursor: pointer;
      min-width: 5px;
      font-size: 14px;
      &:hover {
        color: #1782d4;
      }
    }
    &.active {
      .page-link {
        color: #1782d4;
        border: none;
      }
    }

  }
}

.navbar .logout {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dashboard-container {
  position: absolute;
  top: $nav-height;
  left: $side-bar-width;
  right: 0px;
  bottom: 0px;
  padding: 20px;

  .kcb-mt-20 {
    margin-top: 20px;
  }

  .article {
    align-items: start;

    h5 {
      color: #1782d4;
    }

    h6 {
      color: #757575;
      font-size: 0.9rem;
      line-height: 1.4rem;
    }
  }

  .article-icon-container {
    padding: 36px;
    border-radius: 5px;
    background-color: #1782D4;

    img {
      width: 38px;
      height: 38px;
    }
  }
}
