body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1000px;
  background:inherit;
  background-color:rgba(223, 245, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13962 {
  position:absolute;
  left:50px;
  top:50px;
  width:1920px;
  height:1000px;
}
#u13963 {
  position:absolute;
  left:2px;
  top:492px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13964 {
  position:absolute;
  left:50px;
  top:50px;
  width:1920px;
  height:100px;
  overflow:hidden;
}
#u13964_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:189px;
}
#u13965 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:189px;
}
#u13966 {
  position:absolute;
  left:2px;
  top:86px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13967 {
  position:absolute;
  left:1620px;
  top:60px;
  width:200px;
  height:30px;
  overflow:hidden;
}
#u13967_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13967_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13968 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13969 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13970 {
  position:absolute;
  left:40px;
  top:7px;
  width:151px;
  height:23px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13971 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u13972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13972 {
  position:absolute;
  left:1850px;
  top:60px;
  width:30px;
  height:30px;
}
#u13973 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:72px;
}
#u13974 {
  position:absolute;
  left:30px;
  top:20px;
  width:147px;
  height:72px;
}
#u13975 {
  position:absolute;
  left:2px;
  top:28px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13976 {
  position:absolute;
  left:50px;
  top:160px;
  width:150px;
  height:890px;
  overflow:hidden;
}
#u13976_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:890px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13976_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:1080px;
}
#u13977 {
  position:absolute;
  left:0px;
  top:-100px;
  width:208px;
  height:1080px;
}
#u13978 {
  position:absolute;
  left:2px;
  top:532px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13979 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13979_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13979.mouseOver {
}
#u13979_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13979.selected {
}
#u13980 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u13981 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  overflow:hidden;
  visibility:hidden;
}
#u13981_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13981_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13982 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13982_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13982.mouseOver {
}
#u13982_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13982.mouseDown {
}
#u13982_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13982.selected {
}
#u13983 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13984 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13984_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13984.mouseOver {
}
#u13984_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13984.mouseDown {
}
#u13984_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13984.selected {
}
#u13985 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u13986 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:90px;
  overflow:hidden;
  visibility:hidden;
}
#u13986_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13986_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13987 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13987_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13987.mouseOver {
}
#u13987_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13987.mouseDown {
}
#u13987_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13987.selected {
}
#u13988 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13989 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13989_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13989.mouseOver {
}
#u13989_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13989.mouseDown {
}
#u13989_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13989.selected {
}
#u13990 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13991 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13991_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13991.mouseOver {
}
#u13991_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13991.mouseDown {
}
#u13991_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13991.selected {
}
#u13992 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13993 {
  position:absolute;
  left:0px;
  top:90px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13993_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13993.mouseOver {
}
#u13993_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#949494;
}
#u13993.selected {
}
#u13994 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u13995 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:90px;
  overflow:hidden;
  visibility:hidden;
}
#u13995_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:90px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13995_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13996 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13996.mouseOver {
}
#u13996_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13996.mouseDown {
}
#u13996_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13996.selected {
}
#u13997 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u13998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13998 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13998_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13998.mouseOver {
}
#u13998_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13998.mouseDown {
}
#u13998_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u13998.selected {
}
#u13999 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u14000 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u14000_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u14000.mouseOver {
}
#u14000_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u14000.mouseDown {
}
#u14000_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u14000.selected {
}
#u14001 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u14002 {
  position:absolute;
  left:210px;
  top:160px;
  width:1760px;
  height:890px;
  overflow:hidden;
}
#u14002_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1760px;
  height:890px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14002_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1837px;
  height:1009px;
}
#u14003 {
  position:absolute;
  left:-33px;
  top:-28px;
  width:1837px;
  height:1009px;
}
#u14004 {
  position:absolute;
  left:2px;
  top:496px;
  width:1833px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u14005 {
  position:absolute;
  left:424px;
  top:280px;
  width:910px;
  height:94px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u14006 {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  white-space:nowrap;
}
